/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: "Consolas","Droid Sans Mono","Courier New",Monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; margin: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

html, body {
  line-height: 1;
  overflow: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}

.cmdln {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1.5em;
  text-align: center;
  background: #8B8878;
  padding: 2px;
}

.cmdln_input {
  font-family: "Consolas","Droid Sans Mono","Courier New",Monospace;
  padding: 2px;
}

.js #jsnotice { display: none; }
.no-js #jsnotice { display: block; }

#container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #A9A9A9;
}

pre input {
  font-family: "Consolas","Droid Sans Mono","Courier New",Monospace;
  background-color: #ddd;
}

#edit {
  font-family: "Consolas","Droid Sans Mono","Courier New",Monospace;
}

#shellname {
}

.channel_e {
  color: #FF3333;
}

.channel_w {
  color: #FFAA33;
}

.channel_n {
  color: #B3B3B3;
}

.channel_o {
  color: #000;
}

/* Login */

.login_bgd {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.hbox {
  vertical-align: middle;
}

.login_dialog {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  background-color: #FFF;
}

.login_form {
   padding: 15px;
}

#login {
 
  display: block;
}

